/*
Selectores basicos
1-Etiquetas html
2- Identificadores (id #)
3- Clases (class)
***Conviene ubicar los estilos por orden alfabetico para luego poder encontrarlos mas rapido***
***Dar estilos con id se considera una mala practica, se debe hacer mediante una class
para que ese estilo pueda ser reutilizable y reducir la cantidad de código. Tambien porque tienen mayor
peso y puede crear conflictos al aplicar los estilos***  
*/

/* Selector universal*/
*{
    font-family: sans-serif;
}
.bg-skyblue{
    background-color: skyblue;
}
.bg-steelblue{
    background-color: steelblue;
}
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea{
    border-color: greenyellow;
    border-width: 2px;
    border-style: dotted;
    background-color: black;
    font-size: 20px;
    display: block;
    width: 300px;
}
.form-pseudoclases *:required{
    border-color: yellow;
}
.form-pseudoclases *:valid{
    border-color: green;
}
.form-pseudoclases *:focus{
    background-color: skyblue;
}
h1{
    color: blue;
    background-color: aquamarine;
}
html{
    scroll-behavior: smooth;
}
/* 
    Los selectores de hermanos solo se aplican a los elementos del mismo nivel que estan por debajo
*/
.hermanos-general~li{
    background-color: thistle;
}
.hermanos-adyacentes+li{
    background-color: thistle;
}
/* 
    Los hijos directos son aquellos que se encuentran exactamente un nivel por debajo de la etiqueta padre
*/
.hijos-directos>li{
    background-color: thistle;
}
/*
    Los hijos descendientes son todos aquellos que se encuentran por debajo del nivel de la etiqueta padre
*/
.hijos-descendientes b{
    background-color: thistle;
}
.lista-pseudoclases li:first-child{
    color: green;
}
.lista-pseudoclases li:last-child{
    color: blue;
}
.lista-pseudoclases li:nth-child(8){
    color: orange;
}
.menu-pseudoclases a:hover{
    color: orange;
}
p{
    color: midnightblue;
}
#parrafo-dos{
    background-color: skyblue;
}
.p-pseudoclases:hover{
    font-size: 20px;
}
/* Pseudoclases: dan estilos dependiendo del contexto, posicion o estado del elemento */
.selectores-atributos a[href]{
    color: orangered;
}
/*
    Selectores de atributos
*/
.selectores-atributos a[target="_blank"]{
    font-weight: bold;
}
/* Si agregamos el * solo se aplican los estilos si se contiene la palabra indicada
    entre " palabra "
*/
.selectores-atributos a[href*="cursos"]{
    font-size: 24px;
}
/* Selector universal */
.selector-universal * {
    font-size: 24px;
}
.text-20{
    font-size: 20px;
}
.text-32{
    font-size: 32px;
}
.text-white{
    color: white;
}